<div id="canvasWrapper" class="b-canvas-wrapper">
    <canvas id="canvas1" class="b-canvas-wrapper__canvas"></canvas>
    <canvas id="canvas2" class="b-canvas-wrapper__canvas"></canvas>
</div>
<audio id="audio" autoplay loop>
    <source src="web/audio/mario.mp3" type="audio/mpeg">
</audio>
<div class="footer container-fluid b-container">
    {% include ("game_control.html.twig") %}
</div>