{% extends "layout_main.html.twig" %}

{% block title %}Game Mario{% endblock %}

{% block menu %}
    <div class="header container-fluid b-container my-lg-4 my-sm-2" id="header">
        <div class="row">
            <div class="col-lg-4">
                <h1 class="b-canvas-wrapper__title">MARIO<span class="b-main-page__title b-main-page__title_small">x2</span></h1>
            </div>
            <div class=" col-lg-8">
                <div class="row justify-content-lg-end">
                    <div class="b-canvas-wrapper__block-menu">
                        <div class="col-12 mb-2">
                            <div class="b-canvas-wrapper__img-block">
                                <img class="b-canvas-wrapper__img" src="web/img/mario.png"/>
                                <span class="b-canvas-wrapper__gamer-name">{{gamer1}}</span>
                            </div>
                            <div class="b-canvas-wrapper__all-point">
                                <div class="b-canvas-wrapper__point-description">
                                    <span class="b-canvas-wrapper__point-title">монеты</span>
                                    <span class="b-canvas-wrapper__point-img b-canvas-wrapper__point-img_coin"></span> 
                                    <div class="b-canvas-wrapper__point" id="coinMario">0</div>
                                </div>
                                <div class="b-canvas-wrapper__point-description">
                                    <span class="b-canvas-wrapper__point-title">жизни</span>
                                    <span class="b-canvas-wrapper__point-img b-canvas-wrapper__point-img_live"></span>     
                                    <div class="b-canvas-wrapper__point" id="liveMario">3</div>
                                </div>
                                <div class="b-canvas-wrapper__point-description">
                                    <span class="b-canvas-wrapper__point-title">убитые Goomba</span>
                                    <span class="b-canvas-wrapper__point-img b-canvas-wrapper__point-img_goomba"></span>  
                                    <div class="b-canvas-wrapper__point" id="goombaMario">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="b-canvas-wrapper__img-block">
                                <img class="b-canvas-wrapper__img" src="web/img/luidzhi.png"/>
                                <span class="b-canvas-wrapper__gamer-name">{{gamer2}}</span>
                            </div>
                            <div class="b-canvas-wrapper__all-point">
                                <div class="b-canvas-wrapper__point-description">
                                    <span class="b-canvas-wrapper__point-title">монеты</span>
                                    <span class="b-canvas-wrapper__point-img b-canvas-wrapper__point-img_coin"></span> 
                                    <div class="b-canvas-wrapper__point" id="coinLuidzhi">0</div>
                                </div>
                                <div class="b-canvas-wrapper__point-description">
                                    <span class="b-canvas-wrapper__point-title">жизни</span>
                                    <span class="b-canvas-wrapper__point-img b-canvas-wrapper__point-img_live"></span> 
                                    <div class="b-canvas-wrapper__point" id="liveLuidzhi">3</div>
                                </div>
                                <div class="b-canvas-wrapper__point-description">
                                    <span class="b-canvas-wrapper__point-title">убитые Goomba</span>
                                    <span class="b-canvas-wrapper__point-img b-canvas-wrapper__point-img_goomba"></span> 
                                    <div class="b-canvas-wrapper__point" id="goombaLuidzhi">0</div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include ("mario/content_mario.html.twig") %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="web/js/index.js" type="module"></script>
{% endblock %}