<div class="container">
    {% block mainContent %}
        {% include ("index/about_game.html.twig") %}
    {% endblock %}
</div>
<div class="container-fluid b-container">
    <div class="row" id="footer">
        <div class="col-12">
            <h2 class="b-main-page__subtitle">Управление героями</h2>
        </div>
    </div>
    {% include ("game_control.html.twig") %}
</div>