<div class="container">
    {% block mainContent %}
        {% include ("index/about_game.html.twig") %}
    {% endblock %}
</div>
<div class="container-fluid b-container">
    {% include ("game_control.html.twig") %}
</div>