{% block mainContent %}
    <div class="row">
        <div class="col-12 b-main-page__block">
            <h2 class="b-main-page__subtitle">Описание игры</h2>
            <p class="b-main-page__description">
                Эта игра является аналогом легендарной Игры "Супер Марио Брос" времен консолей Денди.
                С одним отличием: <span class="b-main-page__description_distinction"> 
                здесь можно играть двумя героями одновременно с одной клавиатуры!</span>
                Вокруг будут бродить злобные грибы Гумба. Убить Гумбу можно просто прыгнув ему на голову.
            </p>
            <p class="b-main-page__description">
                <span class="b-main-page__description_distinction">Цель игры:</span> получить больше баллов, чем у соперника! 
                Баллы считаются по количеству собранных монет, 
                убитых грибов Гумба и количества оставшихся жизней.
                А теперь вперёд за приключениями! Приятной игры!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="b-main-page__game"></div>
        </div>
    </div>
{% endblock %}