<div class="b-canvas-wrapper">
    <canvas id="canvas" class="b-canvas-wrapper__canvas"></canvas> 
</div>
<div class="container-fluid b-container">
    {% block gameControl %}
        {% include ("game_control.html.twig") %}
    {% endblock %}
</div>