{% block gameControl %}
    <div class="row">
        <div class="col-12">
            <h2 class="b-main-page__subtitle">Управление героями</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="b-canvas-wrapper__item">
                <img class="b-canvas-wrapper__img" src="web/img/luidzhi.png"/>
                <img class="b-canvas-wrapper__img_keyboard" src="web/img/arrow_keys_second.png"/>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="b-canvas-wrapper__item">
                <img class="b-canvas-wrapper__img" src="web/img/mario.png"/>
                <img class="b-canvas-wrapper__img_keyboard" src="web/img/arrow_keys_first.png"/>
            </div>
        </div>
    </div>
{% endblock %}