<!DOCTYPE html>
<html>
    <head>
        {% include ("head.html.twig") %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block menu %}{% endblock %}
        {% block content %}{% endblock %}
        {% block js %}
            {% include("common/common_js.twig") %}
        {% endblock %}
    </body>
</html>