<div class="container my-lg-4 my-sm-2">
    <div class="row justify-content-start">
        <div class="col-12 mb-xs-4">
            <h1 class="b-canvas-wrapper__title">MARIO<span class="b-main-page__title b-main-page__title_small">x2</span></h1>
        </div>
    </div>
</div>