<div class="container">
    <div class="row">
        <table class="table table-bordered b-counts-table__table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Дата</th>
                    <th>Имя игрока</th>
                    <th>Монеты</th>
                    <th>Жизни</th>
                    <th>Goomba</th>
                    <th>Время прохождения игры / сек</th>
                    <th>ИТОГО</th>
                </tr>
            </thead>
            <tbody class="b-counts-table__one-game">
                <tr>
                    <th scope="row">Игрок 1</th>
                    <td>10.10.18</td>
                    <td>Petya</td>
                    <td>5</td>
                    <td>3</td>
                    <td>2</td>
                    <td>300</td>
                    <td>373</td>
                </tr>
                <tr>
                    <th scope="row">Игрок 2</th>
                    <td>10.10.18</td>
                    <td>Thornton</td>
                    <td>5</td>
                    <td>3</td>
                    <td>5</td>
                    <td>300</td>
                    <td>531</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>