{% block pause %}
    <div id="windowPause" class="pause">
        <h2 class="pause__title">ПАУЗА</h2>
        <span class="pause__text">Для продолжения игры нажмите пробел(space)</span>
    </div>
{% endblock %}