@import "const/const.scss";

.b-canvas-wrapper 
{
    max-width: 100%;
    display: block;

    &__canvas
    {
        margin: auto;
        display: inline-block;
        vertical-align: middle;
        outline: 1px solid black;
        width: 100%;
    }

    &__block-menu
    {
        font: 600 20px/24px $mainFont;
    }

    &__title 
    {
        vertical-align: middle;
        display: inline-block;
        color: $redFont;
        font: 900 60px/70px $mainFont;
        margin: 0;
    }

    &__img 
    {
        width: 30px;

        &_keyboard
        {
            width: 70%;
        }
    }

    &__img-block
    {
        vertical-align: middle;
        display: inline-block;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__gamer-name
    {
        font: 600 20px/24px "Source Sans Pro",sans-serif;
    }

    &__all-point
    {
        vertical-align: middle;
        display: inline-block; 
    }

    &__point-description
    {
        margin: 0 10px;
        vertical-align: middle;
        display: inline-block;
    }

    &__point
    {
        width: 40px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        border: 1px solid $grey;
        font-weight: 400;
    }

    &__item
    {
        width: 50%;
        margin-left: 25%;
    }

    &__point-img
    {
        display: none;
    }
}

@media screen and (min-width: 586px) 
{
    
    html, body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .header, .footer {
        flex-grow: 0;
    }

    .b-canvas-wrapper 
    {
        margin: 0 !important;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        max-width: 100%;

        &__canvas
        {
            flex-grow: 1;
            margin: auto;
            display: inline-block;
            vertical-align: middle;
            outline: 1px solid black;
        }
    }
}

@media screen and (max-width: 1130px) 
{
    .b-canvas-wrapper
    {
        &__img-block
        {
            width: 150px;
        }
    }
}

@media screen and (max-width: 1054px)
{
    .b-canvas-wrapper 
    {   
        margin: 10px auto;

        &__img-block
        {
            width: 235px;
        }

        &__point-title
        {
            display: none;
        }

        &__point-img
        {
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 30px;

            &_coin
            {
                background: url("../img/coin.svg") no-repeat;
            }

            &_goomba
            {
                background: url("../img/goomba.svg") no-repeat;
            }

            &_live
            {
                background: url("../img/live.svg") no-repeat;
            }
        }
    }
}

@media screen and (max-width: 585px) 
{
    .b-canvas-wrapper
    {
        &__img-block
        {
            margin: 10px;
        }
    }
}

@media screen and (max-width: 349px) 
{
    .b-canvas-wrapper
    {
        &__point-description
        {
            margin: 0;
        }

        &__img-block
        {
            margin-left: 0;
        }
    }
}