<div class="container">
    <div class="row align-middle">
        <div class="col-md-6 col-xs-12 offset-md-3">
            <form class="row b-authorization__form">
                <div class="col-12 mb-4">
                    <a href="/mario.php">
                        <button type="button" class="btn btn-success b-action-choice__button b-action-choice__button_not-red">Играть</button>
                    </a>
                </div>
                <div class="col-12 mb-4">
                    <a href="/points_table.php">
                        <button type="button" class="btn btn-primary b-action-choice__button b-action-choice__button_not-red">Рейтинг</button>
                    </a>
                </div>
                <div class="col-12">
                    <a href="/personal_account.php">
                        <button type="button" class="btn btn-primary b-action-choice__button b-action-choice__button_not-red">Личный кабинет</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>